<div class="d-flex justify-content-between align-items-center mb-3 mt-4 title">
  <h2>Delivery Agents</h2>
  <button class="btn btn-primary px-3" (click)="onAddAgent()">Add Agent</button>
</div>

<div class="container-fluid card-body">
  <table class="table table-bordered table-striped">
    <thead class="px-5">
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let agent of agents">
        <td>{{ agent.name }}</td>
        <td>{{ agent.phoneNumber }}</td>
        <td>
          <span class="badge bg-{{ agent.badge }}">{{ agent.status }}</span>
        </td>
        <td>
  <div class="d-flex flex-column flex-md-row gap-2">
    <button class="btn btn-warning w-100 w-md-auto" (click)="onEditAgent(agent)">Edit</button>
    <button class="btn btn-danger w-100 w-md-auto" (click)="deleteAgent(agent.id)">Delete</button>
  </div>
</td>

      </tr>
    </tbody>
  </table>
</div>

<!-- Overlay Form -->
<div *ngIf="showForm" class="overlay">
  <div class="modal-content">
    <app-add-edit-deliveryagent-component
      [agent]="editAgent"
      [isEditMode]="isEditMode"
      (formSubmit)="onFormSubmit($event)">
    </app-add-edit-deliveryagent-component>
  </div>
</div>
