  <app-nav-psummary></app-nav-psummary>
  <div class="payment-summary" *ngIf="transaction">
    <div class="summary-container">
      <h2>✅ Order Placed Successfully</h2>
      <p>Transaction ID: {{ transaction.transactionId }}</p>
      <p>Payment Method: {{ transaction.method }}</p>
      <p *ngIf="transaction.cardType">Card Type: {{ transaction.cardType }}</p>
      <p>Total Amount: {{ transaction.amount | currency: 'INR' }}</p>
      <p *ngIf="transaction.coupon">Coupon Applied: {{ transaction.coupon }}</p>
    
      <button *ngIf="transaction.orderId" (click)="trackOrder(transaction.orderId)">Track My Order</button>
    </div>
  
  </div>
  
  <app-footer></app-footer>